<a href="https://colab.research.google.com/github/Puttaraj276/Engineering-Exploration/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if(5>2):
  print("5 is greater than 2")
if(5>2):
  print("5 is greater than 2")

5 is greater than 2

In [ ]:
if(5>2):
  print("5 is greater than 2")

5 is greater than 2

In [ ]:
x,y,z="orange","banana","cherry"
print(x)
print(y)
print(z)

#list
a=[1,2,3]
print(a)

orange
banana
cherry
[1, 2, 3]

#Tuple
b=("Apple",1,"Banana",2)
print("Tuple is :",b)

In [ ]:
#List
b=["Apple","Banana","Orange",4]
print("List is: ",b)

List is:  Orange

In [ ]:
#Dictionary
Dict={1:'Geeks',2:'For',3:'Geeks'}
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
exe={'Name':'Ajeet',1:[1,2,3]}
print(exe)

len=5
brdth=6
len*brdth

{'Name': 'Ajeet', 1: [1, 2, 3]}

30

In [ ]:
Dict=dict({1:'Geeks',2:'For',3:'Geeks'})
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
exe={}
print(exe)

TypeError: ignored

In [ ]:
Dict={}
Dict[0]='Geeks'
Dict[1]='For'
Dict[2]=1
print(Dict)
Dict[2]='Welcome'
Dict

{0: 'Geeks', 1: 'For', 2: 1}

{0: 'Geeks', 1: 'For', 2: 'Welcome'}

In [ ]:
B={}
B['Value_set']=2,3,4
B
B[2]='Welcome'
B

{'Value_set': (2, 3, 4), 2: 'Welcome'}

In [ ]:
list1=["Apple",'Banana','Cherry','Apple','Cherry']
#print(len(list1))
print(list1[2:5])
print(list1[2:])
list1[-4:-2]
if "Apple" in list1:
  print("Yes, 'apple' is in list1\n")

['Cherry', 'Apple', 'Cherry']
['Cherry', 'Apple', 'Cherry']
Yes, 'apple' is in list1

['Apple', 'Banana', 'Cherry', 'Apple', 'Cherry', 'Orange']

In [ ]:
list1=["Apple",'Banana','Cherry','Apple','Cherry']
list1.append("Orange")
print(list1)
list1.insert(1,"Mango")
list1

['Apple', 'Banana', 'Cherry', 'Apple', 'Cherry', 'Orange']

['Apple', 'Mango', 'Banana', 'Cherry', 'Apple', 'Cherry', 'Orange']

In [ ]:
list1=["Apple",'Banana','Cherry','Apple','Cherry']
tr=['Pappaya','Watermelon']
list1.extend(tr)
print(list1)
list1.remove("Apple")
print(list1)
list1.pop(4)
print(list1)

['Apple', 'Banana', 'Cherry', 'Apple', 'Cherry', 'Pappaya', 'Watermelon']
['Banana', 'Cherry', 'Apple', 'Cherry', 'Pappaya', 'Watermelon']
['Banana', 'Cherry', 'Apple', 'Cherry', 'Watermelon']

In [ ]:
list1=["Apple",'Banana','Cherry','Apple','Cherry']
list1.sort()
print(list1)
mylist=list1.copy()
print(mylist)

['Apple', 'Apple', 'Banana', 'Cherry', 'Cherry']
['Apple', 'Apple', 'Banana', 'Cherry', 'Cherry']

In [ ]:
b=200
a=33
if a>b:
  print("a is greater than b")
elif a==b:
  print("a and b are equal")
else:
  print("b is greater than a")

b is greater than a

In [ ]:
i=0
while i<5:
  i+=1
  if i==3:
    continue
  print(i)
else:
  print("i is no longer than 5")

1
2
4
5
i is no longer than 5

In [ ]:
list1=["Apple",'Banana','Cherry','Apple','Cherry']
for x in list1:
  print(x)

Apple
Banana
Cherry
Apple
Cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
list1=["Apple",'Banana','Cherry','Apple','Cherry']
for x in list1:
  if x=="Cherry":
    break
  print(x)

Apple
Banana

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,27,3):
  print(x)

2
5
8
11
14
17
20
23
26

In [ ]:
adj=['red','big','tasty']
frts=['apple','banana','Cherry']
for x in adj:
  for y in frts:
    print(x,y)

red apple
red banana
red Cherry
big apple
big banana
big Cherry
tasty apple
tasty banana
tasty Cherry

In [ ]:
def sum(a,b):
  print("Sum is :",a+b)
sum(5,6)

Sum is : 11

def my_fun(fname):
  print(fname+" "+"Hanchinmani")
my_fun("Vinod")
my_fun("Robert")

In [ ]:
def mail(SRN):
  print(SRN+"@KLETECH.AC.IN")
list1=["01FE21BCS276","01FE21BCS277","01FE21BCS278"]
for x in list1:
 mail(x)

01FE21BCS276@KLETECH.AC.IN
01FE21BCS277@KLETECH.AC.IN
01FE21BCS278@KLETECH.AC.IN

In [ ]:
def my_fun(*kids):
  print("Youngest child is"+" "+kids[2])
my_fun("abc","xyz","mno")

Youngest child is mno

In [ ]:
def char(food):
  for x in food:
    for y in x:
      print(y)
fruits=["Apple",'Banana','Cherry','Apple','Cherry']
char(fruits)

A
p
p
l
e
B
a
n
a
n
a
C
h
e
r
r
y
A
p
p
l
e
C
h
e
r
r
y

In [ ]:
x="ORANGE"
#for i in range(5,0,-1):
i=5
while i>=0:
  print(x[i])
  i=i-1

E
G
N
A
R
O

In [6]:
def EvenOdd(x):
  if(x%2==0):
    print("Even")
  else:
    print("Odd")

x=input("Enter the Number : ")
x=int(x)
EvenOdd(x)

Enter the Number : 18
Even

In [9]:
def fun(x,y=20):
  print("X = ",x,"and Y = ",y)
fun(10)

X =  10 and Y =  20

In [12]:
#Returning multiple values
def add_sub(a,b):
  c=a+b
  d=a-b
  return c,d

u,v=add_sub(20,10)
print("Addition : ",u,"Substraction : ",v)

Addition :  30 Substraction :  10

In [15]:
def institute(oldtname,newname):
  print(oldtname,newname)

institute(oldtname='KLETECH',newname='BVBCET')
institute(newname='BVBCET',oldtname='KLETECH')

KLETECH BVBCET
KLETECH BVBCET

In [18]:
def myfun(*args):
  for arg in args:
    print(arg)

myfun('Hello',' Welcome to',' Exploratory ',' Data Analysis',' Laboratory')

Hello
 Welcome to
 Exploratory
 Data Analysis
 Laboratory